<div ng-controller="KettleFileRepositoryController">
  <h3 class="step-title">Repository Details</h3>
  <div class="panel-foot">
      <hr />
      <div clas="row">
        <div class="col-xs-6 panel-foot-left">
            <span class="help-link">Help</span>
        </div>
        <div class="col-xs-6 panel-foot-right">
          <button id="back-btn" class="btn btn-default" ng-click="back()">Back</button>
          <button id="finish-btn" class="btn btn-default disabled" ng-click="finish()">Finish</button>
        </div>
      </div>
  </div>
</div>
